<div class="row container">

    <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#ffffff"
    size = "medium"
    color = "#474040"
    type = "ball-spin"
    [fullScreen] = "true"
    >
    <p style="color: white" > </p>
    </ngx-spinner>

        
    <div class="col-md-12" [hidden]="isEdit" style="margin-top:20px;">

        <p>
          <button type="button" class="btn btn-primary btn-md fa fa-plus-circle fa-sm" (click)="add()">
            Add
          </button>
        </p>
        <table class="table table-striped table-bordered table-responsive row-border hover" datatable [dtOptions]="dtOptions"
[dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Product</th>
                <th>Stock</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data">
                <td>{{ data.name }}</td>
                <td>{{ data.stok }}</td>
                <td class="column-datatable">      
                  <a (click)="edit(data)" style="padding:5px"><span class="btn btn-warning btn-sm fa fa-edit fa-xs"></span></a>
                  <a mwlConfirmationPopover
                  [popoverTitle]="'Delete data'"
                  placement="bottom"
                  (confirm)="delete(data)"
                  (cancel)="cancelClicked = true" style="padding:5px"><span class="btn btn-danger btn-sm fa fa-trash fa-xs"></span></a>  
                </td>
              </tr>
              
            </tbody>
        </table>

    </div>

    <div class="col-md-12" [hidden]="!isEdit" style="margin-top:20px;">
      <form class="form-horizontal" [formGroup]="product">
        <input type="hidden" formControlName="id">
        <div class="form-group">
            <div class="col-sm-1"><label for="">Name</label></div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1"><label for="">Stock</label></div>
            <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="stok">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <button (click)="save()" [disabled]="!product.valid" class="btn btn-success btn-lg fa fa-save fa-sm" style="margin:5px;"> Save</button>
            <button (click)="back()" class="btn btn-warning btn-lg fa fa-hand-o-left fa-sm" style="margin:5px;"> Cancel</button>
          </div>
        </div>

      </form>
    </div>
</div>


